/* index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #d3c2ff; /* Fundo roxo */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura igual à altura da janela do navegador */
}
